
$theme: '';
.base_color {
	background: #E7E7EA;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #E7E7EA), color-stop(0.5, #E7E7EA), color-stop(1.0, #E7E7EA));
  background-image: -moz-linear-gradient(top, #E7E7EA, #E7E7EA, #E7E7EA);
}

.texture {
	background-image: sc_static('images/texture.png');
}